<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <title>{{ page.title }} | PyCrypto</title>
  <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | relative_url }}"/>
  <link rel="shortcut icon" type="image/png" href="{{ '/images/dlitz-favicon.png' | relative_url }}"/>
</head>

<body>

<a href="#PageContent" class="skip-nav-link">skip navigation</a>

<div id="PageHeader">
  <a href="https://www.dlitz.net/"><img id="PageBanner" src="{{ '/images/dlitz-carsstop-small.jpg' | relative_url }}" alt="DLitz.net" title="Back to home page" style="border: 0" /></a>
  <div style="border-top: 2em solid #eee; padding: 1em">
    <div><i>PyCrypto</i></div>
  </div>
  <div style="padding: 1em 0 0 1em">
    <a href="https://www.pycrypto.org/">Home</a>
    | <a href="https://github.com/pycrypto/pycrypto">GitHub</a>
  </div>

  <hr style="clear: both" />
</div>


<div id="PageContent" name="PageContent">
  {{ content }}
</div>

<div id="PageFooter">

  <hr style="clear: both"/>

  <pre>Published with <a href="https://pages.github.com/">GitHub Pages</a></pre>

</div>

</body>

</html>
